# Composer Related
composer.lock
/vendor

# Frontend Assets
/node_modules

# Base de datos local (si no aplica)
database/

# PHPStan / análisis estático
phpstan-baseline.neon
phpstan.neon.dist

# Recursos de vistas si no se usan
resources/views/

# Logs
npm-debug.log
yarn-error.log

# Caches
.phpunit.cache
.phpunit.result.cache
/build

# IDE Helper
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php

# Editors
/.idea
/.fleet
/.vscode

# Misc
phpunit.xml
phpstan.neon
testbench.yaml
/docs
/coverage
